:root {
    --md-admonition-icon--beer: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2023 Fonticons, Inc.--><path d="M32 64c0-17.7 14.3-32 32-32h288c17.7 0 32 14.3 32 32v32h51.2c42.4 0 76.8 34.4 76.8 76.8v102.1c0 30.4-17.9 57.9-45.6 70.2L384 381.7V416c0 35.3-28.7 64-64 64H96c-35.3 0-64-28.7-64-64V64zm352 247.6 56.4-25.1c4.6-2.1 7.6-6.6 7.6-11.7v-102c0-7.1-5.7-12.8-12.8-12.8H384v151.6zM160 144c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V144zm64 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V144zm64 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V144z"/></svg>')
  }
  .md-typeset .admonition.beer,
  .md-typeset details.beer {
    border-color: rgb(9, 155, 1);
  }

  .md-typeset .beer > .admonition-title,
  .md-typeset .beer > summary {
    background-color: rgba(43, 155, 70, 0.1);
  }
  .md-typeset .beer > .admonition-title::before,
  .md-typeset .beer > summary::before {
    background-color: rgb(9, 155, 1);
    -webkit-mask-image: var(--md-admonition-icon--beer);
            mask-image: var(--md-admonition-icon--beer);
  }

  
#countdownContainer {
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
}

#timerName {
  display: inline-block;
  margin-right: 10px;
}

#countdown {
  display: inline-block;
}

