.rounded-image {
    border-radius: 50%;
    width: 150px;
    height: auto;
  }
  
  .image-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    padding: 50px; 
  }

  section {
    padding-top: 60px;
  }

  figcaption {
    text-align: center;
  }
  
  figure {
    padding: 40px;
    justify-content: space-between;
    text-align: center;
    display: flex;
  }
  
  img {
    display: block;
    margin: auto;
  }
  .image-logo-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-image-disabled{
    width: 40px;  
    height: auto ;  
  }

  .logo-image {
    width: 40px;  
    height: auto ;  
  }
  .logo-image:hover {
    transform: scale(1.1); 
  }